{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration Form</title>
    <link rel="stylesheet" href="{% static 'admin/css/RegistrationForm.css' %}">

</head>

<body>
    <header>
        <div id="top">
            <img class="headerimg" src="{% static 'admin/img/navsymbol.png' %}" alt="">
            <div id="heading">
                <div id="contentmain">
                    <a href="https://www.unicef.org/india/stories/know-your-childs-vaccination-schedule"
                        target="_blank">
                        <h1>CHILD VACCINATION-</h1>
                    </a>
                    <a href="https://www.unicef.org/india/topics/immunization" target="_blank">
                        <h1>IMMUNIZATION PROGRAMME</h1>
                    </a>
                </div>
                <a href="https://main.mohfw.gov.in/" target="_blank">
                    <h2>HEALTHY CHILD HEALTHY INDIA</h2>
                </a>
            </div>
            <img class="headerimg" src="{% static 'admin/img/babyhand.png' %}" alt="logo">
        </div>
        <nav>
            <div id="navbar">
                <div id="navimg">
                    <a href="/"><i class="fa-solid fa-house"></i></a>
                </div>
                <div id="home" class="ul">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutUs">About Us</a></li>
                        <li><a href="/contactUs">Contact Us</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="main">
        <form action="/signupUser/" method="post">
            {% csrf_token %}
            <div id="HeadingOfForm">
                <span>USER REGISTRATION FORM</span>
            </div>
            <div>
                <div id="ok" class="pbm1">
                    <div class="pbm2">
                        <span>USER INFORMATION</span>
                        <span class="note">(all filds are compelsory)</span>
                    </div>
                    <div class="firstflex">
                        <div id="firstspace">
                            <div class="pbm">
                                <label for="username"><span class="pbm">USER NAME:</span> </label>
                                <input type="text" id="username" class="pbm1" name="userName" autocapitalize="on"
                                    autocomplete="off" placeholder="ENTER FIRST NAME">
                            </div>
                            <div class="pbm">
                                <label for="surname"><span class="pbm">SURNAME:</span> </label>
                                <input type="text" id="surname" class="pbm1" name="surname" autocapitalize="on"
                                    autocomplete="off" placeholder="ENTER LAST NAME">
                            </div>
                        </div>
                        <div>
                            <div class="pbm">
                                <label for="middlename"><span class="pbm">MIDDLE NAME:</span> </label>
                                <input type="text" id="middelname" class="pbm1" name="middleName" value
                                    autocapitalize="on" autocomplete="off" placeholder="ENTER MIDDLE NAME">
                            </div>
                            <div class="pbm">
                                <label for="gender" class="pbm"><span>GENDER:</span></label>
                                <select name="gender" id="gender" class="pbm1">
                                    <option>select gender</option>
                                    <option value="m">MALE</option>
                                    <option value="f">FEMALE</option>
                                    <option value="o">OTHER</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="passwordfilds">
                        <div class="pbm3" id="Password">
                            <label for="password"><span class="pbm">PASSWORD:</span></label>
                            <input type="password" id="password" class="pbm1" name="password" autocomplete="off"
                                placeholder="ENTER PASSWORD">
                        </div>
                        <div class="pbm3" id="confirmPassword">
                            <label for="confirmpassword"><span class="pbm" id="label">CONFIRM PASSWORD:</span> </label>
                            <input type="password" id="confirmpassword" class="pbm1" name="confirmPassword"
                                autocomplete="off" placeholder="ENTER CONFIRM PASSWORD">
                            <div id="alert">
                                <span>***both password should be same</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pbm1">
                <div class="pbm2">
                    <span>CONTACT INFORMATION</span><span class="note">(all filds are compelsory)</span>
                </div>
                <div class="firstflex">
                    <div class="pbm">
                        <label for="contact" class="pbm">MOBILE NO:</label>
                        <input type="text" id="contact" class="pbm1" name="mobile" value autocomplete="off"
                            placeholder="ENTER MOBILE NUMBER">
                    </div>
                    <div class="pbm">
                        <label for="mail" class="pbm">EMAIL ID:</label>
                        <input type="email" id="mail" class="pbm1" name="email" value autocomplete="off"
                            placeholder="ENTER EMAIL ID">
                    </div>
                </div>
            </div>
            <div id="address" class="pbm1">
                <div class="pbm2">
                    <span>ADDRESS INFORMATION</span><span class="note">(all filds are compelsory)</span>
                </div>
                <div class="firstflex">
                    <div>
                        <div class="pbm">
                            <label for="line0" class="pbm">STATE:</label>
                            <select name="state" id="line0" class="pbm1">
                                <option>select state</option>
                                <option value="mh">MAHARASTRA</option>
                            </select>
                        </div>
                        <div class="pbm">
                            <label for="line1" class="pbm">DISTRICT:</label>
                            <select name="district" id="line1" class="pbm1">
                                <option>select district</option>
                                <option>dhule</option>
                            </select>
                        </div>
                        <div class="pbm">
                            <label for="line2" class="pbm">TEHSIL:</label>
                            <select name="tehsil" id="line2" class="pbm1">
                                <option>select tehsil</option>
                                <option>shirpur</option>
                            </select>
                        </div>
                    </div>
                    <div class="">
                        <div class="pbm">
                            <label for="line4" class="pbm">PLOT/AREA:</label>
                            <input type="text" id="line4" class="pbm1" name="areaAdd" value
                                placeholder="ENTER PLOT NO/STREET NAME/AREA" autocapitalize="on">
                        </div>
                        <div class="pbm">
                            <label for="line3" class="pbm">VILLEGE/TOWN:</label>
                            <select name="villageTown" id="line3" class="pbm1">
                                <option>select village/town</option>
                                <option>hol</option>
                            </select>
                        </div>
                        <div class="pbm">
                            <label for="line5" class="pbm">PINCODE:</label>
                            <input type="text" id="line5" class="pbm1" name="pincode" value placeholder="ENTER PINCODE">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pbm1">
                <div class="pbm2">
                    <span>ADMIN USE</span><span class="note">(all filds are compelsory)</span>
                </div>
                <div class="firstflex">
                    <div class="pbm">
                        <label for="adminid" class="pbm">ADMIN ID:</label>
                        <input type="text" id="adminid" class="pbm1" name="adminId" autocomplete="off"
                            placeholder="ENTER ADMIN ID">
                    </div>
                    <div class="pbm">
                        <label for="password" class="pbm">PASSWORD:</label>
                        <input type="password" id="password" class="pbm1" name="adminPassword" autocomplete="off"
                            placeholder="ENTER PASSWORD">
                    </div>
                </div>
            </div>
            <div id="pagebutton">
                <div id="backpage">
                    <a href="">Back</a>
                </div>
                <div id="submit">
                    <input type="submit">
                </div>
            </div>
        </form>
    </main>
</body>

</html>