<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'admin/css/homepage.css' %}">
</head>
<body>
    <header>
        <div id="top">
            <img class="headerimg" src="{% static 'admin/img/navsymbol.png' %}" alt="">
            <div id="heading">
                <div id="contentmain">
                    <a href="https://www.unicef.org/india/stories/know-your-childs-vaccination-schedule"
                        target="_blank">
                        <h1>CHILD VACCINATION-</h1>
                    </a>
                    <a href="https://www.unicef.org/india/topics/immunization" target="_blank">
                        <h1>IMMUNIZATION PROGRAMME</h1>
                    </a>
                </div>
                <a href="https://main.mohfw.gov.in/" target="_blank">
                    <h2>HEALTHY CHILD HEALTHY INDIA</h2>
                </a>
            </div>
            <img class="headerimg" src="{% static 'admin/img/babyhand.png' %}" alt="logo">
        </div>
        <nav id="navbar">
            <div id="navimg">
                <a href="/ "><i class="fa-solid fa-house"></i></a>
            </div>
            <div id="home" class="ul">
                <ul>
                    <li><a href="/ ">Home</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                    <li><a href="/contactUs">Contact Us</a></li>
                </ul>
            </div>
            <div id="login" class="ul">
                <ul>
                    <li><a href="/childRegistrationForm">CHILD CREATE</a></li>
                </ul>
            </div>
        </nav>
    </header>
        
    <h2>Wellcome user - {{user_name}}</h2>
    <h2>{{hospital_name}}</h2>
    <h2>{{hospital_add}}</h2>
    <table>
        <thead>
            <tr>
                <td>Total children</td>
                <td>Tolal Vaccination Done in Month</td>
                <td>Total Remain for Vaccination</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{childCount}}</td>
                <td>{{totalDone}}</td>
                <td>{{totalRemain}}</td>
            </tr>
        </tbody>
    </table>

    <h3>Tolal Vaccination Done in Month children data</h3>
    {% for data in doneData %}
        <h3>{{data}}</h3>
    {% endfor %}

    <h3>Total Remain for Vaccination Children data</h3>
    <ul>
        {% for data in remainData %}
            <h3>{{data}}</h3>
        {% endfor %}
    </ul>
</body>
</html>