body{
    width: 100%;
}
#container{
    width: 40%;
    border: 5px inset ;
    margin: 40px auto ;
    background-color: #ccc5c5;
    
}

#container .separate{
    margin: 3px;
    border: 5px outset;
    padding: 10px;
    
    
}
.sep1{
    width: 80%;
    margin: 3px auto;
    border: 3px outset;
    padding: 4px;
    text-align: center;
    font-size: 18px;
}

.sep2{
    width: 80%;
    margin: 3px;
    border: 3px inset;
    padding: 5px;

}

.separate h2{
    color: red;
    background-color: #e4e47b;
}
#login input[type="submit"]{
    background-color: #713cec;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 8px 2.5rem;
    margin: 9px;
    border: 5px outset;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 95%;
}

#newsign,#forpwd{
    background-color: #e7ec91;
}
#signup input[type="submit"]{
    width: 100%;
    background-color: #713cec;
    color: #ffffff;
    border-radius: 15px;
    padding: 8px 4rem;
    margin: 9px auto;
    border: 5px outset;
    justify-content: center;
    align-items: center;
    font-size:20px;
}