* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;

}

#top {
    border: 3px;
    padding: 15px;
    margin: 0px;
    display: flex;
    background-color: #f1f9a9;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

#contentmain{
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

#top h1 {
    color: #2705d0;
}

#top h2 {
    color: #d70abf;
    text-align: center;
}

.headerimg {
    height: 90px;
    width: 100px;
    margin: 0 3px;
}

#navbar {
    border-radius: 10px;
    margin: 4px;
    padding: 5px 3rem;
    background-color: #f79e18;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#navimg i {
    border: 1px solid;
    margin: 0 0.25rem;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 0.25rem;
    color: #ffffff;
}

#navbar ul {
    display: flex;
    list-style-type: none;
}

#home ul li a {
    color: #fbfbfb;
    text-decoration: none;
    padding: 10px;
    margin: 0 20px;
    font-size: 24px;
    justify-content: space-around;
}

#login ul li a {
    list-style-type: none;
    color: #fbfbfb;
    text-decoration: none;
    font-size: 20px;
    padding: 6px;
    margin: 10px 15px;
    border-radius: 15px;
    background-color: #8a04bb;
    justify-content: space-around;
}

#toppara {
    
    background-image: url("https://img.freepik.com/free-photo/sunny-defocused-green-nature-background-abstract-bokeh-effect-es-element-your-design_211682-265.jpg");
    background-attachment: fixed;
    background-repeat:no-repeat ;
    background-position:center;
    background-size: cover;
   
}
#toppara h1,h2,p{
    margin: 10px 4rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#toppara h1{
    color: #9a108a;
    font-size: 150%;
}

#toppara h2{
    color: hsl(271, 89%, 40%);
    font-size: 130%;
}

#timetable {
    width: 60%;
    border: inset;
    margin: 10px auto;
}

#timetable h3 {
    font-size: 135%;
    color: #8a2be2;
    background-color: #eeeea0;
    text-align: center;
}

#tableSchedule table, th, td {
    border: 1px solid;
    width: 350px;
    height: 30px;
}

#table1 {
    margin: 5px;
    border: 9px outset;

}

.tdmulti {
    text-align: center;
    background-color: #bedb92;
}

#table2 {
    margin: 10px;
    border: outset 10px;
    padding: 10px;
    background-color: #c9ab73;

}

#diseasetable {
    margin: 30px 20px;
    border: inset 10px;
    padding: 10px;
    font-size: 70%;
}


footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

#icon ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}

#icon ul li i {
    border: 1px solid;
    margin: 0 0.25rem;
    font-size: 1.5rem;
    padding: 0.25rem;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: red;
    color: white;
    border: none;
    padding: 0 3px;
}